@import './vendor/fonts.css';

body {
  margin: 0;
  font-family: 'Rooftop', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  line-height: 1;
}

main {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Common container styles */
.container {
  margin: 0 auto;
  padding: 0 2.5rem;
}

@media (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }
}